@import 'assets/_colors';
@import 'assets/_transitions';

html,
body {
    height: 100%;
}

body {
    text-align: center;
}

article {
    max-width: 740px;
    max-height: 540px;
    margin: -70px auto;
    padding: 30px;
    position: relative;
    top: 50%;
}