@import 'assets/_reset';
@import 'assets/_colors';
@import 'assets/_transitions';

html,
body {
    font: normal 16px 'Consolas', Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100%;
}

.wrapper {
    height: 100%; 
}
article {
   height: 100%;
   margin: 40px;
   position: relative;
}

p {
    padding: 32px;
}

@import 'assets/_responsive';