/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) 
{
  body  {
    background: $night-mode;
    color: $night-mode-text;
    -webkit-trasition: background 2s, color 1s;
    transition: background 2s, color 1s;
   }
   
   article {
       background: $night-mode-bg;
       -webkit-transition: background 2s;
       transition: background 2s;
   }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}